n8n/MCP_Perplexity_Proxy.json
{
  "name": "MCP Perplexity Proxy - Deep Research",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp-research",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-research",
      "name": "Webhook MCP Research",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.query }}\"\n    }\n  ],\n  \"max_tokens\": 4096,\n  \"temperature\": 0.7\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "perplexity-call",
      "name": "Call Perplexity API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "perplexity-api",
          "name": "Perplexity API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, query: $('Webhook MCP Research').item.json.query, response: $json.choices[0].message.content, citations: $json.citations || [] }) }}"
      },
      "id": "respond",
      "name": "Respond with Research",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook MCP Research": {
      "main": [[{"node": "Call Perplexity API", "type": "main", "index": 0}]]
    },
    "Call Perplexity API": {
      "main": [[{"node": "Respond with Research", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["MCP", "Proxy", "Perplexity", "Research"]
}