n8n/MCP_Exa_Proxy.json
{
  "name": "MCP Exa Proxy - Web Search",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-search",
      "name": "Webhook MCP Search",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.exa.ai/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.query }}\",\n  \"numResults\": {{ $json.numResults || 5 }},\n  \"type\": \"neural\",\n  \"useAutoprompt\": true,\n  \"contents\": {\n    \"text\": true\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "exa-call",
      "name": "Call Exa API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "exa-api",
          "name": "Exa API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, query: $('Webhook MCP Search').item.json.query, results: $json.results }) }}"
      },
      "id": "respond",
      "name": "Respond with Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook MCP Search": {
      "main": [[{"node": "Call Exa API", "type": "main", "index": 0}]]
    },
    "Call Exa API": {
      "main": [[{"node": "Respond with Results", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["MCP", "Proxy", "Exa", "Search"]
}